<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-50">
<div class="container mx-auto py-10">
    <table class="table-auto w-full">
        <thead class="bg-blue-500 text-white">
        <tr>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">First Name</th>
            <!-- Add more columns as needed -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="participantRepository : ${userPage.content}">
            <td class="border px-4 py-2" th:text="${participantRepository.email}"></td>
            <td class="border px-4 py-2" th:text="${participantRepository.firstname}"></td>
            <!-- Add more cells as needed -->
        </tr>
        </tbody>
    </table>
    <div class="flex justify-center mt-4">
        <a th:if="${currentPage > 1}" th:href="@{/participants(page=${currentPage - 1})}" class="mx-1 px-4 py-2 bg-blue-500 text-white rounded">Previous</a>
        <a th:if="${userPage.totalPages > currentPage}" th:href="@{/participants(page=${currentPage + 1})}" class="mx-1 px-4 py-2 bg-blue-500 text-white rounded">Next</a>
    </div>
</div>
</body>
</html>